/* footer-area  */
.bg-footer {
    background-color: #212529;
    color: aliceblue;
    height: 60px;
    line-height: 60px;
}

.footer-link {
    text-align: right;
}

/* post-area  */

.post-area h3 {
    font-size: 37px;
    font-weight: 700;
    padding-top: 90px;
}

.Secondpost_area {
    font-size: 37px;
    font-weight: 700;
    padding: 10px 0px;
}




.post-area h4 {
    font-size: 15px;
    font-style: italic;
    color: #6C757D;
    padding-bottom: 5px;
}

.post-area p {
    font-size: 20px;
    padding-top: 25px;
  
}


.tag{
    border-radius: 7px;
    padding: 3px 6px;
    color: aliceblue;
    background-color: blue;
    margin: 20px 0px;
    font-size: 13px;
}

.margin_top{
    margin-top: 10px;
}

.margin_bottom{
    margin-bottom: 25px;
}